requests
flask_sqlalchemy
sqlalchemy~=2.0.42
dotenv~=0.9.9
flask~=3.1.1
flask_admin~=1.6.1
flask_migrate~=4.1.0
flask_cors~=6.0.1
flask_wtf
flask_login~=0.6.3
Werkzeug~=3.1.3
python-dotenv~=1.1.1
WTForms~=3.2.1
alembic~=1.16.4
email_validator
flask-mail
pytz
minio
boto3
